<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiburst.mag.mapper.MagExternalFetchAuditMapper">

    <resultMap id="BaseMap" type="com.aiburst.mag.entity.MagExternalFetchAudit">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="user_id" property="userId"/>
        <result column="normalized_url" property="normalizedUrl"/>
        <result column="http_status" property="httpStatus"/>
        <result column="body_hash" property="bodyHash"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mag_external_fetch_audit (project_id, user_id, normalized_url, http_status, body_hash)
        VALUES (#{projectId}, #{userId}, #{normalizedUrl}, #{httpStatus}, #{bodyHash})
    </insert>

    <select id="selectByProjectId" resultMap="BaseMap">
        SELECT * FROM mag_external_fetch_audit WHERE project_id = #{projectId} ORDER BY id DESC LIMIT 500
    </select>
</mapper>
